<component name="libraryTable">
  <library name="Spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-aop-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-asm-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-aspects-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-beans-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-context-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-context-support-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-core-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-expression-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-instrument-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-instrument-tomcat-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-jdbc-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-jms-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-orm-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-oxm-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-struts-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-test-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-tx-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-web-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-webmvc-3.2.0.M1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-webmvc-portlet-3.2.0.M1.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-aop-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-asm-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-aspects-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-beans-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-context-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-context-support-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-core-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-expression-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-instrument-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-instrument-tomcat-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-jdbc-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-jms-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-orm-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-oxm-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-struts-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-test-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-tx-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-web-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-webmvc-3.2.0.M1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-webmvc-portlet-3.2.0.M1-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-aop-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-asm-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-aspects-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-beans-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-context-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-context-support-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-core-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-expression-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-instrument-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-instrument-tomcat-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-jdbc-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-jms-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-orm-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-oxm-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-struts-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-test-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-tx-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-web-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-webmvc-3.2.0.M1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring/spring-webmvc-portlet-3.2.0.M1-sources.jar!/" />
    </SOURCES>
  </library>
</component>